/*Modifica a altura do carrossel inical*/
.altura-vitrine{
    height: 600px;
}

.rodape{
    margin-top: 50px;
    background:#04091e;
    padding-bottom: 40px;
    position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
}

/*Sempre por antes de qualquer elemento para que ele nao seja coberto pelo header*/
.pos-header{
    margin-top: 150px;
}

.justificado{
    text-align: justify; 
    width: 800px;
   font-size: 24px;
}

.erro {
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
    color: red;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 85%;
}

.demo {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
}

.demo h1 {
  margin-top: 0;
}

.lista {
  font-size: 20px; ]
}

/*Cor das listras das tableas*/
.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: #acb5c4; 
 }

.tabela{
  width: 70%;
  font-weight: bold;
  color: black;
}
